<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <p><%=title%></p>
    <div class="row justify-content-center">
        <div class="container col-md-8 bg-secondary">
            <div class="glide mt-3">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="click-zoom">
                            <label class="image-wrap">
                            <input type="checkbox">
                            <img class="img-fluid" src="https://images.pexels.com/photos/1741205/pexels-photo-1741205.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
                            </label>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="click-zoom">
                            <label class="image-wrap">
                                <input type="checkbox">
                                <img class="img-fluid" src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            </label>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="click-zoom">
                            <label class="image-wrap">
                                <input type="checkbox">
                                <img class="img-fluid" src="https://images.pexels.com/photos/1056251/pexels-photo-1056251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            </label>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="click-zoom">
                            <label class="image-wrap">
                                <input type="checkbox">
                                <img class="img-fluid" src="https://images.pexels.com/photos/982865/pexels-photo-982865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            </label>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="click-zoom">
                            <label class="image-wrap">
                                <input type="checkbox">
                                <img class="img-fluid" src="https://images.pexels.com/photos/821736/pexels-photo-821736.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                            </label>
                        </div>
                    </li>
                  </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left col" data-glide-dir="<">prev</button>
                    <button class="glide__arrow glide__arrow--right col" data-glide-dir=">">next</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
        new Glide('.glide', {
            type: 'carousel',
            perView: 3,
            autoplay: 5000
        }).mount()
    </script>
    <style type="text/css">
        .click-zoom input[type=checkbox] {
            display: none
        }

        .click-zoom img {
            margin: 100px;
            transition: transform 0.25s ease;
            cursor: zoom-in
        }

        .click-zoom input[type=checkbox]:checked~img {
            transform: scale(2);
            cursor: zoom-out
        }

        .image-wrap {
            width: 100%;
            height: 50vw;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }

        .image-wrap img {
            width: 100%;
            animation: move 40s ease;
            /* Add infinite to loop. */
            
            -ms-animation: move 40s ease;
            -webkit-animation: move 40s ease;
            -0-animation: move 40s ease;
            -moz-animation: move 40s ease;
            position: absolute;
        }

        @-webkit-keyframes move {
        0% {
            -webkit-transform-origin: bottom left;
            -moz-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            -o-transform-origin: bottom left;
            transform-origin: bottom left;
            transform: scale(1.0);
            -ms-transform: scale(1.0);
            /* IE 9 */
            
            -webkit-transform: scale(1.0);
            /* Safari and Chrome */
            
            -o-transform: scale(1.0);
            /* Opera */
            
            -moz-transform: scale(1.0);
            /* Firefox */
        }
        100% {
            transform: scale(1.2);
            -ms-transform: scale(1.2);
            /* IE 9 */
            
            -webkit-transform: scale(1.2);
            /* Safari and Chrome */
            
            -o-transform: scale(1.2);
            /* Opera */
            
            -moz-transform: scale(1.2);
            /* Firefox */
        }
        }

        

    </style>
</body>
</html>
